<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <div class="navbar-header"> <a class="navbar-brand navbar-left">客户管理平台</a> </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('view.login') }}">登录</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    {% block page_content %}{% endblock %}
</div>

<div class="container col-lg-3 col-lg-offset-3">
<div class="page-header">
 <h3>用户注册</h3>
</div>
    <form action="/register" method="post">
        {%for message in get_flashed_messages()%}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
        {%endfor%}
    {{ wtf.quick_form(form) }}
    </form>
</div>
{% endblock %}