{% extends 'base.html' %}

{% block head_js %}
<link href="static/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="static/assets/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="static/assets/css/component-chosen.min.css">
<style>
    ul { list-style-type: none;}
    li { display: inline-block;}
    input.labelauty + label { font: 12px "Microsoft Yahei";}
    ul,li {margin:0;padding:0;}
</style>
{% endblock %}

{% block sidebar %}
                    <li>
                        <a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.customer') }}"><i class="fa fa-desktop"></i> 客户</a>
                    </li>
					<li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> 合同<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active-menu" href="{{ url_for('main.contact') }}">合同</a>
                            </li>
                            <li>
                                <a href="#">收费记录</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> 待办事项</a>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> 工作报告</a>
                    </li>
{% endblock %}

{% block content %}
<div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTables-contact">
                                    <thead>
                                        <tr>
                                            <th>客户名称</th>
                                            <th style='padding-left: 30px'>合同</th>
                                            <th>服务项目</th>
                                            <th>开始日</th>
                                            <th>到期日</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade modal-center" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="font-weight: normal;">
                <div class="modal-header" style="text-align:left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="contractModalLabel">创建合同</h4>
                </div>
                <!-- add_customer_form -->
                <form role="form" class="form-horizontal" id="contract_form" data-toggle="validator">
                    {{ form.csrf_token }}
                    <div class="modal-body">
                        {%for message in get_flashed_messages()%}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{message}}
                        </div>
                        {%endfor%}
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">收费项目</label>
                            <div class="col-sm-8">
                                {{form.agreement(required="", class="form-control form-control-chosen",style="font-size:14px",id="update_name")}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开始日期</label>
                            <div class="col-sm-8 date" data-provide="datepicker" data-date-format="yyyy-mm-dd" style="display: table;">
                                {{form.startDate(class="form-control",id="update_startDate")}}
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
					    </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">到期日期</label>

                            <div class="col-sm-8 date" data-provide="datepicker" data-date-format="yyyy-mm-dd" style="display: table;">
                                {{form.expiryDate(class="form-control",id="update_expiryDate")}}
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">合同状态</label>
                            <div class="col-sm-8">
                                {{form.status()}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class = "btn btn-primary" onclick="createContract()">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>

    <!--//grid-->
    <!---->
    <div class="copy">
        <p></p>
    </div>
{% endblock %}

{% block bottom_js %}
    <script src="static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="static/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="static/assets/js/validator.min.js"></script>
    <script src="static/assets/js/chosen.jquery.js"></script>
    <script src="static/assets/js/custom-scripts.js"></script>
    <script src="static/assets/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-contact').dataTable({
                "oLanguage": {
                 "sSearch":"请输入查找关键字： ",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                    }
                },
                "sDom": "lfrtip",
                "iDisplayLength": 15,
                'bStateSave': true,
                "sAjaxSource": "/contract/listJson",

                "columns": [
                    {"mData": "cus_name"},
                    {
                        "mData": "is_create",
                        "render":function ( data, type, row, meta ) {
                            if(row.is_create == 0){
                                html="<div> <button type='button' class = 'btn btn-info' data-toggle='modal' data-target='#contractModal'" +
                                        "onclick='storeName(\""+row.cus_name+"\")' style='font-size: 12px; padding: 4px 14px;' >创建合同</button></div>"

                            }
                            else{
                                html="<div><span>已创建</span></div>"
                            }
                            return html
                        }
                    },
                    {"mData": "agreements"},
                    {"mData": "start_date"},
                    {"mData": "expiry_date"},
                    {"mData": "status"},
                    {"mData": "is_charge"},
                ]
                　

            } );
        });
        $(function(){
	        $(':input').labelauty();
        });
        $('.form-control-chosen').chosen({
                allow_single_deselect: true,
            placeholder_text_multiple:"请选择服务项目",
		        width: '100%'
        });
        $('html').css('font-size','14px');

    </script>
    <script>
        var cus_name='';
        function storeName(name) {
            cus_name = name;
        }
        function createContract() {
            var form= new FormData(document.getElementById("contract_form"));
            $.ajax({
                url:"/contract/add/"+cus_name,
                type:"post",
                data:form,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(data){
                    if(data.result == 1){
                        console.log("yes")
                    }
                    else {
                        var body = '<div class="alert alert-warning"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+data.result+ '</div>'

                        $('#'+id+' .modal-body').prepend(body)
                    }

                },
                error:function(e){
                        alert("没有取得数据");
                }
            })
        }
    </script>

         <!-- Custom Js -->


{% endblock %}

