{% extends 'base.html' %}

{% block head_js %}
<link href="static/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="static/assets/css/form-validation.css">
{% endblock %}

{% block sidebar %}
                    <li>
                        <a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a class="active-menu" href="{{ url_for('main.customer') }}"><i class="fa fa-desktop"></i> 客户</a>
                    </li>
					<li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> 合同</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('main.contract') }}">合同管理</a>
                            </li>
                            <li>
                                <a href="#">收费记录</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> 待办事项</a>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> 工作报告</a>
                    </li>
{% endblock %}
{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:right," >
                            <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-plus"></span> 新增客户
                            </button>
                            <div class="modal fade modal-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="font-weight: normal;">
                                        <div class="modal-header" style="text-align:left">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">新增客户</h4>
                                        </div>
                                        <!-- add_customer_form -->
                                        <form role="form" class="form-horizontal" id="add_customer_form" data-toggle="validator">
                                            {{ add_form.csrf_token }}
                                            <div class="modal-body">
                                                {%for message in get_flashed_messages()%}
                                                <div class="alert alert-warning">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    {{message}}
                                                </div>
                                                {%endfor%}
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">客户名称</label>
                                                    <div class="col-sm-8">
                                                        {{add_form.customername(required="", class="form-control")}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">类型</label>
                                                    {{add_form.type(class="radio-inline")}}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">电话</label>
                                                    <div class="col-sm-8">
                                                        {{add_form.phone(class="form-control")}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="addEmail" class="col-sm-3 control-label">邮箱</label>
                                                    <div class="col-sm-8">
                                                        <!--<input type="email" class="form-control" id="addEmail" placeholder="Email" data-error="你输入的不是一个有效的邮件地址！">
                                                        <div class="help-block with-errors"></div>-->
                                                        {{add_form.email(class="form-control")}}
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">地址</label>
                                                    <div class="col-sm-8">
                                                        {{add_form.address(class="form-control")}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">客户经理</label>
                                                    <div class="col-sm-8">
                                                        {{add_form.manager(required="", class="form-control")}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" class = "btn btn-primary" onclick='ajaxForm("add_customer_form")'>保存</button>
                                                <!--{{add_form.submit_customer(class="btn btn-default",onclick='ajaxForm("add_customer_form")')}}-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#importModal">
                                <span class="glyphicon glyphicon-edit">
                            </span> 批量导入客户</button>
                            <div class="modal fade modal-center" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="text-align:left">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="importModalLabel">批量导入客户</h4>
                                        </div>
                                        <form id="import_form" method="post" action="/customer/import" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                    <div>
                                                        <input id="File1" type="file" name="myfile"/>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary">导入</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exportModal">
                                <span class="glyphicon glyphicon-edit">
                            </span> 批量导出客户</button>
                            <div class="modal fade modal-center" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="text-align:left">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="exportModalLabel">批量导出客户</h4>
                                        </div>
                                        <form id="export_form" method="post" action="/customer/export" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            确定导出客户数据？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary" onclick='missButton()'>导出</button>

                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>客户名称</th>
                                            <th>类型</th>
                                            <th>电话</th>
                                            <th>邮箱</th>
                                            <th>地址</th>
                                            <th>客户经理</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


                                  <div class="modal fade modal-center" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="text-align:left">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            确定删除该客户？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary">确定</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


        <div class="modal fade modal-center" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="font-weight: normal;">
                                        <div class="modal-header" style="text-align:left">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="updateModalLabel">编辑客户信息</h4>
                                        </div>
                                        <!-- add_customer_form -->
                                        <form role="form" class="form-horizontal" id="update_customer_form" data-toggle="validator">
                                            {{ update_form.csrf_token }}
                                            <div class="modal-body">
                                                {%for message in get_flashed_messages()%}
                                                <div class="alert alert-warning">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    {{message}}
                                                </div>
                                                {%endfor%}
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">客户名称</label>
                                                    <div class="col-sm-8">
                                                        {{update_form.customername(required="", class="form-control",id="update_name")}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">类型</label>
                                                    {{update_form.type(class="radio-inline")}}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">电话</label>
                                                    <div class="col-sm-8">
                                                        {{update_form.phone(class="form-control",id="update_phone")}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">邮箱</label>
                                                    <div class="col-sm-8">
                                                        <!--<input type="email" class="form-control" id="addEmail" placeholder="Email" data-error="你输入的不是一个有效的邮件地址！">
                                                        <div class="help-block with-errors"></div>-->
                                                        {{update_form.email(class="form-control",id="update_email")}}
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">地址</label>
                                                    <div class="col-sm-8">
                                                        {{update_form.address(class="form-control",id="update_address")}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">客户经理</label>
                                                    <div class="col-sm-8">
                                                        {{update_form.manager(required="", class="form-control",id="update_manager")}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" class = "btn btn-primary" onclick='updateThisRowPapser("update_customer_form")'>保存</button>
                                                <!--{{add_form.submit_customer(class="btn btn-default",onclick='ajaxForm("add_customer_form")')}}-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
    <div class="clearfix"></div>
    </div>

    <!--//grid-->
    <!---->
    <div class="copy">
        <p>&copy; 2017 JunXi. All Rights Reserved</p>
    </div>
{% endblock %}

{% block bottom_js %}
     <!-- DATA TABLE SCRIPTS -->
    <script src="static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="static/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="static/assets/js/validator.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "oLanguage": {
                 "sSearch":"请输入查找关键字： ",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                    }
                },
                "sDom": "lfrtip",
                "iDisplayLength": 15,
                "columnDefs" : [ {
                    // 定义操作列,######以下是重点########
                    "targets" : 6,//操作按钮目标列
                    "data" : null,
                    "render" : function(data, type,row) {
                        var id = '"' + row.id + '"';
                        //var row = JSON.stringify(row).replace(/\"/g,"'")
                        console.log(row)
                        var html = ""//<a href='javascript:void(0);'  class='delete btn btn-default btn-xs'  ><i class='fa fa-times'></i> 查看</a>"
                        html += "<a onclick='setDefaultData(\""+row.name+"\")' class='up btn btn-default btn-xs' data-toggle='modal' data-target='#updateModal'><i class='fa fa-arrow-up'></i> 编辑</a>"
                        html += "<a href='javascript:void(0);'   onclick='deleteThisRowPapser(\""+row.name+"\")'  class='down btn btn-default btn-xs'><i class='fa fa-arrow-down'></i> 删除</a>"
                        return html;
                    }}],
                "sAjaxSource": "/customer/listJson",
                 "aoColumns": [
                    {"mData": "name"},
                    {"mData": "type"},
                    {"mData": "phone"},
                    {"mData": "email"},
                    {"mData": "address"},
                    {"mData": "manager"},
                 ],
                　'bStateSave': true,

            } );
        });
    </script>
    <script>
        var update_id;
        function ajaxForm(id){
        var form= new FormData(document.getElementById(id));
        $.ajax({
            url:"{{ url_for('main.customer_add') }}",
            type:"post",
            data:form,
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(data){
                if(data.result == 1){
                    $("#myModal .btn-default").click()
                    console.log($("#myModal .btn-default"))
                    $("#dataTables-example").DataTable().ajax.reload();
                }
                else {
                    var body = '<div class="alert alert-warning"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+data.result+ '</div>'

                    $('#'+id+' .modal-body').prepend(body)
                }

            },
            error:function(e){
                    alert("没有取得数据");
            }
        })
    }
    function deleteThisRowPapser(id){
        $.ajax({
            url:"{{ url_for('main.customer_del') }}",
            type:"post",
            data:JSON.stringify({"name":id}),
            dataType: 'text',
            processData:false,
            contentType:false,
            success:function(data){
                 if (data==1){
                     console.log("del success")
                     start = $("#dataTables-example").dataTable().fnSettings()._iDisplayStart;
                       total = $("#dataTables-example").dataTable().fnSettings().fnRecordsDisplay();
                       window.location.reload();
                       if((total-start)==1){
                        if (start > 0) {
                         $("#dataTables-example").dataTable().fnPageChange( 'previous', true );
                        }
                    }
                 }
            },
            error:function(e){
                    alert("没有取得数据");
            }
        })
    }
    function updateThisRowPapser(id){

        var form= new FormData(document.getElementById(id));
        $.ajax({
            url:"customer/update/"+update_id,
            type:"post",
            data:form,
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(data){
                if(data.result == 1){
                    setTimeout($("#updateModal .btn-default").click(),1000)
                    console.log($("#updateModal .btn-default"))
                    $("#dataTables-example").DataTable().ajax.reload(null, false);
                }
                else {
                    var body = '<div class="alert alert-warning"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+data.result+ '</div>'

                    $('#'+id+' .modal-body').prepend(body)
                }
            },
            error:function(e){
                console.log("没有取得数据");
            }
        })

    }
    function setDefaultData(name){
        console.log(name);
        $.ajax({
            url:"customer/listJson?name="+name,
            type:"get",
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(data){
                data = data.data[0]
                update_id=data.id;

                $("#update_customer_form #update_name").val(data.name);
                if(data.type=="个人"){
                    $("#update_customer_form #type-0").attr("checked",true);
                }
                else {
                    $("#update_customer_form #type-1").attr("checked",true);
                }
                $("#update_customer_form #update_phone").val(data.phone);
                $("#update_customer_form #update_email").val(data.email);
                $("#update_customer_form #update_address").val(data.address);
            },
            error:function(e){
                console.log("没有取得数据");
            }
        })
    }

    function missButton(){
     $("#exportModal .btn-default").click()
     console.log('调用到了')
     }

    </script>
         <!-- Custom Js -->
    <script src="static/assets/js/custom-scripts.js"></script>
{% endblock %}

