{% extends 'base.html' %}

{% block title %}
    <title>注册</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
    <div class="login">
        <h1>客户管理系统</a></h1>
        <div class="login-bottom">
            <h2>Register</h2>
            {%for message in get_flashed_messages()%}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {%endfor%}
            <div class="col-md-6">
                <div class="login-mail">
                    {#加了required以后会要求必须填写字段#}
                    {{form.username(placeholder="请输入你的用户名",required="")}}
                    <i class="fa fa-user"></i>
                </div>
                <div class="login-mail">
                    {{form.password(placeholder="请输入密码",required="")}}
                    <i class="fa fa-lock"></i>
                </div>
                <div class="login-mail">
                    {{form.password_confirm(placeholder="请再次输入密码",required="")}}
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="col-md-6 login-do">
                <label class="hvr-shutter-in-horizontal login-sub">
                    {{form.submit()}}
{#                    <input type="submit" value="注册" onclick="alert('注册成功！')">#}
                </label>
                <p>已经注册</p>
                <a href="{{ url_for('auth.login') }}" class="hvr-shutter-in-horizontal">登录</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
    <!---->
    <div class="copy-right">
        <p>&copy; 2017 All Rights Reserved</p>
    </div>
{% endblock %}

